<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hskl.bitcoin.real_degrees">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/logo_rd_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_rd_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Certifier">

        <activity
            android:name="de.hskl.bitcoin.real_degrees.activities.LoadingActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.hskl.bitcoin.real_degrees.activities.MasterViewActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.hskl.bitcoin.real_degrees.activities.DetailViewActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.hskl.bitcoin.real_degrees.activities.ScanActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.hskl.bitcoin.real_degrees.activities.PINActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
    </application>

</manifest>